@import "sass/_variables.scss";
@import "~bootstrap/scss/bootstrap";

.kb-container {
    padding: 0 28px;

    .kanbanDesk-dropdown {
        padding-top: 27px;
        padding-bottom: 15px;
        margin-bottom: 15px;
       
        .kanbanDesk-project-title {
            font-size: 12px;

            i {
                margin-right: 5px;
                font-size: 15px;
            }

            .kanbanDesk-project-name {
                margin-left: 17px;
                color: $primaryDark;
                padding-right: 5px;
            }
        }    

        .kanbanDesk-dropdown-items {
            color: $primaryDark;
            div {
                cursor: pointer;
                padding: 10px;
                font-size: 12px;

                &:hover {
                    color: $primaryBlue;
                    background-color: $outlineGrey;                        
                }
            }
        }

        .kanbanDesk-profilePic {
            float: right;
            margin-top: -7px;

            img {
                margin-right: 4px;
            }

            .kanbanDesk-btn-add  {
                border-radius: 50%;
                background-color: $primaryBlue;
                border: none;
                color: $white;
                width: 40px;
                height: 40px;
                ;
                i {
                    font-size: 18px;
                }
                &:hover {
                    color: $white;
                    background-color: $darkBlue;
                }    
            }
        }
    }

    
    .kb-task-title {
        background-color: $white;
        border-radius: 4px;
        padding: 15px;
        margin-bottom: 15px;

        .kb-head{
            display: flex;
            justify-content: space-between;
            margin-bottom: 10px;
        }

        .task-order {
            color: $primaryDark;
            font-size: 20px;
            padding-bottom: 13px;
        }
    }
    
    
    .dropdown-toggle.btn-secondary {
        background-color: transparent;
        border: none;
        padding: 0px;
        color: $secondaryDark;
        &:active {
            box-shadow: none;
        }
        &:before {
            display: none;
        }
    }

    .btn-new-task{
        margin: 0;
        color: $blue;
        border: 0;
        background: $blue;
        color: $white !important;
        padding: 10px 20px;
        border: 1px solid $backgroundGrey;
        border-radius: 4px;
        font-size: 13px;
  
        i{
          margin-right: 5px;
        }
      }
    
}


