
.form-group {
    input[type=text], input[type=password], .file-input-placeholder {
        height: 52px;
        border-radius: 2px;
    }
    .file-input-placeholder {
        background: $white;
        height: 52px;
        position: relative;
        border-radius: 2px;
        border: 1px dotted $outlineGrey;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 16px;
        line-height: 1;
        color: $blue;

        i {
            margin-right: 5px;
            font-size: 20px;
            line-height: 1;
        }

        .form-control-file {
            opacity: 0;
            font-size: 100px;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: 2;
        }
    }
    
    .form-control {
        border-color: $outlineGrey;
        height: 52px;

        &.error {
            border-color: red;
        }
    }
    .custom-select {
        border-color: $outlineGrey;
        height: 52px;
    }
    .error-container{
        color: red;
        padding: 5px 0;
    }
    .react-datepicker__input-container {
        width: 100%;

        input {
            border: 1px solid $outlineGrey;
            width: 100%;
        }
    }
    .react-datepicker-wrapper {
        width: 100%;
    }
    .react-autosuggest__container {
        position: relative;
    }
      
    .react-autosuggest__input {
        border: 1px solid $outlineGrey;
    }
      
    .react-autosuggest__input--focused {
        outline: none;
    }
      
    .react-autosuggest__input--open {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }
      
    .react-autosuggest__suggestions-container {
        display: none;
    }
      
    .react-autosuggest__suggestions-container--open {
        display: block;
        position: absolute;
        top: 51px;
        width: 100%;
        border: 1px solid $outlineGrey;
        background-color: $white;
        font-size: 16px;
        border-bottom-left-radius: 4px;
        border-bottom-right-radius: 4px;
        z-index: 2;
    }
      
    .react-autosuggest__suggestions-list {
        margin: 0;
        padding: 0;
        list-style-type: none;

        li {
            font-size: 14px;
            transition: all .3s ease;
        }
    }
      
    .react-autosuggest__suggestion {
        cursor: pointer;
        padding: 10px 20px;
    }
      
    .react-autosuggest__suggestion--highlighted {
        background-color: $blue;
        color: $white;
    }
}

.react-datepicker__year-dropdown, .react-datepicker__month-dropdown, .react-datepicker__month-year-dropdown {
    background-color: $white;
    color: $blue;
}
.react-datepicker__header {
    background: $blue;
    color: $white;
}
.react-datepicker__current-month, .react-datepicker-time__header {
    color: $white;
}
.react-datepicker__day-name {
    color: $white;
}
.react-datepicker__day, .react-datepicker__day-name {
    width: 2.5rem;
    line-height: 2rem;
}
label {
    font-size: 14px;
    font-weight: 400;
    color: $darkGrey;
}

.form-error{
    color: red;
}

.error-container {
    .react-autosuggest__input{
        border-color: red;
    }
}

.chk-container {
    display: block;
    position: relative;
    padding-left: 30px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    line-height: 20px;
    min-height: 20px;
    margin-bottom: 0;

    &:hover {
        input ~ .checkmark {
            background-color: $backgroundGrey3;
        }
        input:disabled ~ .checkmark {
            background-color: #eee;
        }
        input:checked ~ .checkmark {
            background-color: $darkBlue2;
        }
    }

    input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;

        &:checked {
            ~ .checkmark {
                background-color: $darkBlue2;

                &:after{
                    display: block;
                }
                &:hover{
                    background-color: $darkBlue2;
                }
            }
        }
    }

    .checkmark {
        position: absolute;
        top: 0;
        left: 0;
        height: 20px;
        width: 20px;
        background-color: $backgroundLightGrey;
        border-radius: 2px;

        &:after{
            content: "";
            position: absolute;
            display: none;
            left: 7px;
            top: 3px;
            width: 6px;
            height: 11px;
            border: solid white;
            border-width: 0 3px 3px 0;
            transform: rotate(45deg);
        }
    }

    
}


// Codrin

// ###--- Buttons ---###

// Primary Button & Outline Button
.btn--ts {
    border-style: none;
    color: $white;
    background-color: $primaryBlue;    
    font-family: Rubik;
    font-size: 14px;
    font-weight: 500;
    font-style: normal;
    line-height: normal;
    text-align: center;
    border-radius: 4px;
    padding: 15px 30px;
    margin: 10px;
    cursor: pointer;

    &:focus {
        outline: none;
        box-shadow: none;
    }  

    i {
        padding-right: 5px;
    }

    &-primary {
        &:hover {
            color: $white;
            background-color: $darkBlue;
        }
    
        &:active {
            background-color: $primaryBlue;
            color: $white;
        }    
    }

    &-outline {  

        &:hover {
            color: $primaryBlue;
            border: 2px solid $primaryBlue;
        }
    
        &:active {
            color: $primaryDark;
            border: 2px solid $primaryBlue;
        }      
    }

    &-grey{
        background-color: $outlineGrey;
        color: $secondaryDark;
        border: none;
        &:hover {
            color: $primaryBlue;
            background-color: $outlineGrey;
        }
    
        &:active {
            background-color: $outlineGrey;
            color: $primaryBlue;
            box-shadow: none;
        } 
    }
}

textarea,
input{
    &::placeholder {
        font-size: 14px;
    }
    &::-webkit-input-placeholder {
        font-size: 14px;
    }
    &::-moz-placeholder {
        font-size: 14px;
    }
    & :-ms-input-placeholder {
        font-size: 14px;
    }
}



// End Codrin