// Breakpoints here
$breakpoint-bigtablet: 1280px;
$breakpoint-tablet: 1024px;
$breakpoint-all-phone: 768px;
$breakpoint-small-mobile: 410px;

$sidebarWidth: 242px;

//Codrin
$primaryBlue: #4D7CFE;
$primaryDark: #252631;
$secondaryDark: #778CA2;
$secondaryDark2: #98A9BC;
$orange: #FFAB2B;
$green: #6DD230;
$pink: #FE4D97;
$secondaryBlue: #2CE5F6;
$outlineGrey: #E8ECEF;
$backgroundGrey: #F2F4F6;
$backgroundGrey2: #F8FAFB;
$backgroundGrey3: #ccc;
$backgroundLightGrey: #eee;
$white: #FFFFFF;
$darkBlue: #0069d9;
$darkBlue2: #2196F3;
$black: #000000;
//End Codrin


//Iulia
$darkGrey: #252631;
$darkGrey2: #1b1e24;
$lightGrey: #778CA2;
$lightGrey2: #F8FAFB;
$lightGreyBorder: #E8ECEF;
$lightBlue: #2CE5F6;
$pink: #FE4D97;
$green: #6DD230;
$orange: #FFAB2B;
$lightYellow: #FFF9EE;
$lightOrange: #efd765;

//End Iulia

//Mihai
$blue: #4d7cfe;
$middleGrey: #98a9bc;
$midGrey: #778ca2;
$borderGray: #d8d8d8;
$midBlue: #4d7cfe;
$whiterGrey: #fafbff;
$borderBlue: #e5ecff;
$borderGreen: #eaf9e1;
$borderOrange: #fff3e0;
//End Mihai