@import "sass/_variables.scss";
@import "~bootstrap/scss/bootstrap";

.ReportsPage {

  .responsive-chart {
    width: 100%;
    height: 300px;
    padding: 20px;

    @include media-breakpoint-down(md) {
      padding-left: 0;
      padding-right: 0;
      font-size: 0.75rem;
    }

    &.no-data {
      height: 0;
      margin: 0;
      padding: 0;
    }

    &.small {
      height: 200px;

      .chart {
        height: 180px;
      }
    }

    .chart {
      height: 240px;
      margin: 30px 0;
      font-size: 13px;
    
      &--custom-label {
        text-align: center;
        width: 100%;
        display: block;
        font-size: 12px;
        font-weight: bold;
      }
    }
  }

  .detailed-chart {
    width: 100%;
    padding: 40px;

    @include media-breakpoint-down(md) {
      padding: 30px;
    }

    &.no-padding-top {
      padding-top: 0;
    }
  }

  .footnote-click {
    display: none;
    color: $secondaryDark2;
    font-size: 12px;
    margin-top: 20px;
    margin-bottom: 0;

    &:last-of-type{
      display: block;
    }
  }

  .total-missing {
    font-size: 18px;
    line-height: 1;
    padding: 20px;
    text-align: center;
    color: red;
    background: $lightOrange;
    margin: 25px;
    font-weight: bold;
    border-radius: 4px;

    span {
      color: black;
      font-weight: normal;
    }
  }

  .dev-outter {
    // background: #00d2ff;  /* fallback for old browsers */
    // background: -webkit-linear-gradient(to bottom, #3a7bd5, #00d2ff);  /* Chrome 10-25, Safari 5.1-6 */
    // background: linear-gradient(to bottom, #3a7bd5, #00d2ff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: white;
    border-radius: 4px;
    box-shadow: 0px 3px 5px -2px rgba($black, 0.15);
    margin: 10px;
    padding: 10px;
    // color: $white;

    h3 {
      border-bottom: 1px solid $lightGrey2;
      padding: 10px;
      font-size: 18px;
    }

    .projects-list {
      list-style-type: none;
      margin: 0;
      padding: 0;
      color: $white;

      li {
        font-size: 13px;
        line-height: 1.2;
        margin: 5px 0;
        // background: $lightGrey2;
        padding: 5px;

        a {
          // color: white;

          &:hover {
            // color: white;
            text-decoration: underline;
          }
        }
      }
    }
  }

  .daily-summary{
    font-weight: bold;
    font-size: 13px;
    text-align: center;
    margin-bottom: 5px;
    margin-top: 20px;
  }
}