@import "sass/_variables.scss";

.paginate--component{
    .pagination{
        justify-content: center;
        margin-top: 20px;
    }
    .page-item {
        padding:  1px;
    
        &:first-child .page-link .sr-only:before {
            content: '<';
            padding-right: 5px;
        }
        &:last-child .page-link .sr-only:after {
            content: '>';
            padding-left: 5px;
        }

        &.active .page-link {
            background-color: $primaryBlue;
            border-color: $primaryBlue;
        }
        &.disabled .page-link {
            background-color: transparent;
            border: none;
        }

        .page-link {
            padding: 10px 15px;
            border-radius: 4px;
            border: none;
            background-color: transparent;
            color: $black;
    
            &:focus {
                box-shadow: none;
            }
            &:hover {
                color: $white;
                background-color: $primaryBlue;
                span {
                    &.sr-only{
                        color: $white;
                    }                    
                }
            }    
             span {
                 display: none;
                 &.sr-only {
                     display: inline;
                     position: relative;
                     color: $secondaryDark;
                 } 
             }           
        }
    } 
}

// End Codrin