@import "sass/_variables.scss";

.TasksNewContainer {
    max-width: 555px;
    width: 100%;
    padding: 40px 20px 0 20px;
    .TaskNewTable {
        &:first-of-type {
            p {
                color: $darkGrey;
            }
        }
    }

    .task-items-container {
        p{
            display: flex; 
            padding-top: 10px;
            color: $secondaryDark2;
            i {
                margin-right: 7px;
            }
        }
    }

    .task-action {
        .TaskTitle {
            padding: 10px 20px;
            display: inline-block;
            &.orange {
                color: $orange;
                background-color: $lightYellow;
            }
            &.green {
                color: $green;
                background-color: $lightYellow;
            }
            &.pink {
                color: $pink;
                background-color: transparent;
            }
            &.blue {
                color: $blue;
            }
            &.lightGrey {
                color: $lightGrey;
            }
        }
    }
}