@import "sass/_variables.scss";

.DashboardPage {
    padding: 20px;

    .dash-section-title {
        font-size: 18px;
        line-height: 1;
        padding-left: 10px;
    }

    .dash-events {
        width: 100%;
    }

    .event-outter {
        margin-bottom: 20px;
    }
}