@import "sass/_variables.scss";
@import "~bootstrap/scss/bootstrap";

.event-container {
    background-color: $white;
    border-radius: 4px;
    padding: 22px 24px;

    .event-user {
        display: inline-block;
        border: 1px solid $outlineGrey;
        border-radius: 28px;
        margin: 10px 0px 25px 0px;
        padding: 8px;

        &-name {
            margin-left: 8px;
            padding-right: 25px;
            font-size: 16px;
            color: $primaryDark;
        }
    }

    .event-title {
        padding: 10px 18px;
        display: inline-flex;
        background-color: rgba($orange, 0.08);

        &-name {
            color: $orange;
        }
    }    

    .event-calendar {
        margin-top: 39px;
        font-size: 20px;
        color: $primaryDark;
        i {
            font-size: 22px;
            color: $primaryDark;
        }
    }

    .event-description {
        margin: 10px 0px;
        text-align: justify;
        font-size: 14px;
        color: $primaryDark;
    }

    .event-location {
        margin-top: 20px;
        
        i {
            font-size: 18px;
            padding-right: 5px;
        }
        &-address {
            padding-left: 5px;
        }
    }
}