@import "sass/_variables.scss";
@import "~bootstrap/scss/bootstrap";

.Header{
  display: flex;
  border-top: 2px solid $lightGreyBorder;
  background: $white;
  height: 64px;

  @include media-breakpoint-down(md) {
    height: 48px;
  }

  .header-container {
    width: 100%;
    padding: 0 27px;
    border-bottom: 2px solid $lightGreyBorder;
    display: flex;
    justify-content: space-between;
    align-items: center; 

    @include media-breakpoint-down(md) {
      padding: 0 15px;
    }

    .dropdown-menu {
      top: 45px;

      @include media-breakpoint-down(md) {
        top: 35px;
        max-width: 260px;
      }
    }

    .left-menu {
      padding: 0;
      margin: 0;
      display: flex;
      align-items: center;

      li {
        list-style-type: none;
      }

      .page--title{
        font-size: 26px;
      }

      a {
        color: $lightGrey;
        i {
          font-size: 22px;
        }
      }

      .dropdown-icon {
        a {
          padding-left: 0;
          display: flex;

          &:after {
            content: none;
          }
        }
        .dropdown-menu {
          right: 0;
          left: 0;
          width: 100%;
          min-width: 240px;
          padding: 0;

          a{
            font-size: 12px;
            line-height: 1;
            color: $darkGrey;
            padding: 10px;
            display: flex;
            align-items: center;

            i {
              margin-right: 5px;
              color: $lightGrey;
            }
          }
          
        }
      }
    }
    
    .right-side {
      display: flex;
      
      .search-form {
        max-width: 100%;
        position: relative;
        span {
          padding-left: 13px;
          display: flex;
          input {
            margin-left: 5px;
            width: 192px;
            border: none;
            text-align: left;
            order: 2;
            outline: none;
          }
          ::placeholder {
            color: $lightGrey
          }
          i {
            order: 1;
            font-size: 22px;
            color: $lightGrey;
          }
        }
      }
      
      .menu-right {
        display: flex;
        margin: 0;

        li {
          list-style-type: none;
          margin: 5px 27px 0 0;
          &:last-child {
            margin: 0;
          }
          &:hover {
            color: $blue;
          }
          i {
            font-size: 22px;
          }
          img {
            width: 36px;
            height: 36px;

            @include media-breakpoint-down(md) {
              width: 18px;
              height: 18px;
            }
          }
        }

        .dropdown-menu-custom {
          background-color: $white;
          display: flex;
          align-items: center;

          &:last-of-type {
            .dropdown-toggle {
              padding-top: 0;
              padding-bottom: 0;

              @include media-breakpoint-down(md) {
                padding-right: 0;
              }
            }
          }
          .dropdown-toggle {
            color: $lightGrey;
            &:after {
              content: none;
            }
          }
          .dropdown-menu{
            margin: 0;
            padding: 0;
          }
          
          .message-box-items {
            display: flex;
            padding: 10px 0;

            .img-message {
              margin-right: 13px;
              display: flex;
              align-items: center;
            }
            .text-message {
              p {
                margin: 0;
                font-size: 14px;

                &.title {
                  color: $darkGrey2;
                }
                &.description {
                  color: $secondaryDark2;
                }
              }
            }

            &.user-box{
              .user-box-items {
                &:nth-last-child(){
                  margin: 0;
                }
                p{
                  font-size: 12px;
                  color: $darkGrey;
                  i {
                    margin-right: 6px;
                    font-size: 18px;
                    color: $lightGrey;
                  }
                }
                
              }
            }
          }
          
          
          .messages-link {
            display: block;
            text-align: center;
            font-size: 14px;
          }
        }
      }
      .dropdown-search {
        li {
          list-style-type: none;
          
          .dropdown-toggle {
            &:after {
              content: none;
            }
          }

          .dropdown-menu {
            width: 100%;
              
            a {
              color: $lightGrey;
              font-size: 14px;
              line-height: 3.14;
              border-bottom: 1px solid $lightGreyBorder;
              padding-bottom: 10px;
              display: block;
              padding: 0 16px;
            }
          }
        }
      }
    }
  }

  .profile-dropdown {
    i {
      margin-right: 10px;
    }
  }
}