@import "sass/_variables.scss";

.TSPage {
  .ts-head {
    padding: 20px 0;
    
    .ts-pagination{
      display: flex;
      justify-content: center;
      align-items: center;

      .btn-pag {
        background: transparent;
        color: $blue;
        font-size: 24px;
        line-height: 1;
        border: 0;
      }

      span {
        font-size: 18px;
        line-height: 1;
        margin: 0 10px;
      }
    } 
  }

  .daily-summary{
    font-weight: bold;
    font-size: 13px;
    text-align: center;
    margin-bottom: 5px;

    time {
      color: $middleGrey;
    }
  }

  .TableMainContainer {
    margin-bottom: 25px;
  }

  .ts-form{
    display: flex;
    justify-content: center;
    align-items: center;

    .btn-new-container{
      margin: 0 0 20px 0;
      color: $blue;
      border: 0;
      background: $white;
      padding: 10px 20px;
      border: 1px solid $backgroundGrey;
      border-radius: 4px;

      i{
        margin-right: 5px;
      }
    }
  }
}
