@import "sass/_variables.scss";
@import "~bootstrap/scss/bootstrap";

.component--modal-new-ce{
    .modal-dialog{
        @include media-breakpoint-up(sm) {
            max-width: 90%;
        }
    }

    .section-title {
        margin-top: 20px;
        font-size: 18px;
        padding: 0 10px;
    }

    .ce-lines {
        // padding: 0 20px;

        .TableRow {
            margin: 5px 0;
        }
    }

    label {
        margin-left: 5px;
    }

    .ce-line-form {
        margin-top: 20px;

        .btn--ts {
            margin-top: 0;
        }

        label {
            display: block;
        }
    }
    
    .row-details {
        flex-grow: 2;
    }

    .general-error {
        text-align: center;
        padding: 10px;
        width: 100%;
        display: block;
    }

    .modal-content input[type="text"] {
        padding: 0 10px !important;
    }
}












