@import "sass/_variables.scss";
@import "~bootstrap/scss/bootstrap";

.projects-overview {
  margin-bottom: 20px;
}

.overview-card {
  border: 3px solid transparent;
  background-clip: padding-box;

  .overview-card-inner {
    border-radius: 4px;
    background-color: $white;
    align-items: center;
    padding: 15px;

    @include media-breakpoint-down(md) {
      padding: 10px;
    }

    &--mask {
      width: 60px;
      height: 60px;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: $primaryBlue;
      border: 6px solid $borderBlue;
      @include media-breakpoint-down(md) {
        width: 54px;
        height: 54px;
      }

      i {
        font-size: 22px;
        color: $whiterGrey;
      }
    }
  }

  .progress-main-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;

    .progress-row-1 {
      display: flex;

      &--title {
        font-size: 20px;
        line-height: 24px;
        color: $black;

        @include media-breakpoint-down(md) {
          font-size: 15px;
          line-height: 17px;
        }
      }

      i {
        font-size: 16px;
        padding-left: 2px;

        &.la-arrow-up {
          color: $green;
        }
        &.la-arrow-down {
          color: red;
        }

        @include media-breakpoint-down(md) {
          font-size: 14px;
        }
      }

    }

    .progress-row-2 {
      display: flex;
      justify-content: space-between;

      &--title {
        font-size: 14px;
        line-height: 1.5;
        color: $middleGrey;
      }

      &--percent {
        font-size: 14px;
        line-height: 1.5;
        text-align: center;

        &.success {
          color: $green;
        }
        &.danger {
          color: red;
        }
      }
    }
  }
}