@import "sass/_variables.scss";
@import "~bootstrap/scss/bootstrap";

.Sidebar{
  font-size: 20px;
  font-family: Rubik;
  width: $sidebarWidth;
  max-width: 100%;
  padding-top: 20px;
  border-right: 1px solid $lightGreyBorder;
  background: $white;
  display: flex;
  align-items: center;
  flex-direction: column;

  @include media-breakpoint-down(md) {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 52px;
    z-index: 2;
    overflow: hidden;
    padding-top: 0;
    border-top: 2px solid $lightGreyBorder;
  }

  @include media-breakpoint-down(md) {
    font-size: 10px;
  }
  .SidebarTitle {
    text-align: center;
  }

  .menu-items {
    padding: 0;
    display: flex;
    flex-direction: column;
    margin: 0;
    width: 100%;

    @include media-breakpoint-down(md) {
      flex-direction: row;
      justify-content: space-between;
      width: 100%;
    }

    li {
      list-style-type: none;
      transition: all .3s ease;
      
      @include media-breakpoint-down(md) {
        text-align: center;
      }

      

      &:first-child {
        margin-top: 20px;

        @include media-breakpoint-down(md) {
          margin-top: 0;
        }
      }

      a{
        color: $lightGrey;
        font-size: 14px;
        display: flex;
        padding: 25px;
        text-transform: uppercase;
        border-left: 2px solid $white;

        @include media-breakpoint-down(md) {
          padding: 0;
        }

        &:hover {
          color: $blue;
          border-left: 2px solid $blue;
          background-color: $lightGrey2;
  
          i {
            color: $blue;
          }
        }
      }

      i {
        padding-right: 18px;
        font-size: 22px;

        @include media-breakpoint-down(md) {
          padding: 10px;
          font-size: 25px;
        }
      }

      .submenu-container {
        @include media-breakpoint-down(md) {
          position: fixed;
          bottom: 50px;
          right: 0;
          width: 100%;
          background: $white;
        }
        
        ul {
          padding-left: 0px;
        }

        li {
          font-size: 13px;
          margin-top: 0;

          i {
            padding-right: 10px;

            @include media-breakpoint-down(md) {
              padding: 5px;
            }
          }

          a{
            padding: 8px;
            text-transform: none;
            border-left-width: 40px;

            @include media-breakpoint-down(md) {
              display: flex;
              align-items: center;
            }

            &.active {
              color: $blue;
              border-left-width: 40px;
              border-color: $blue;
              background-color: $lightGrey2;
            }
          }
        }
      }

      &.project-menu-item {
        border: 0;

        &:hover {
          border: 0;
        }

        a {
          padding: 15px 0 15px 25px;
          position: relative;
          transition: all .3s ease;
          text-transform: none;

          &:hover {
            color: $white;

            &:after {
              width: 100%;
            }
          }

          &:after {
            width: 2px;
            height: 100%;
            position: absolute;
            left: 0;
            top: 0;
            transition: all .3s ease;
            content: ''
          }
        }

        span {
          position: relative;
          z-index: 2;
        }

        &:first-child {
          a{
            &:after {
              background: $blue;
            }
          }
        }
        &:nth-child(2) {
          a{
            &:after {
              background: $pink;
            }
          }
        }
        &:nth-child(3){
          a {
            &:after {
              background: $green;
            }
          }
        }
        &:nth-child(4) {
          a {
            &:after {
              background: $lightBlue;
            }
          }
        }
        &:nth-child(5) {
          a {
            &:after {
              background: $orange;
            }
          }
        }
      }
    }
  }

  .projects-submenu {
    font-size: 16px;
    padding: 20px 20px 0 20px;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 0;
    
    a {
      font-size: 13px;
    }
  }

  .projects-shortcuts {
    width: 100%;
  }
}
