@import "sass/_variables.scss";
@import "~bootstrap/scss/bootstrap";

.ProjectDetailsPage {
  // project details page specific css
  padding: 15px;

  .project-details-row {
    margin-bottom: 20px;
  }

  .project-subsection {
    background: $white;
    padding: 0 20px;
    border-radius: 4px;
    box-shadow: 0px 4px 5px -2px rgba($black, 0.15);

    @include media-breakpoint-down(md) {
      margin-top: 20px;

      &:last-child {
        margin-top: 0;
      }
    }

    .TableRow {
      box-shadow: none;
    }

    &--head {
      border-bottom: 1px solid $outlineGrey;
      padding: 10px 0;
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 20px;
      position: relative;

      a {
        font-size: 24px;
        padding: 0;
        text-align: right;
      }
    }
    &--body {
      padding-bottom: 20px;
    }

    h1 {
      font-size: 18px;
      margin: 0;
      padding: 0;
      line-height: 1;
    }

    .proj-details {
      margin: 15px 0;

      &--label {
        font-size: 12px;
        line-height: 1;
        margin: 0;
        padding: 0;
        color: $middleGrey;
      }
      &--value {
        font-size: 16px;
        line-height: 18px;
        margin: 0;
        padding: 0;
      }
    }

    .project-completion {
      height: 6px;
      position: absolute;
      left: 0;
      bottom: -7px;

      &.green {
        background: $green;
      }
      &.orange {
        background: orange;
      }
      &.red {
        background: red;
      }
    }

    .TableRow{
      padding: 5px 0;
    }
  }

  .subprojects--list {
    list-style-type: none;
    padding: 0;
    margin: 5px 0 0 0;

    button {
      color: $blue;
      background: transparent;
      border: 0;
      padding: 0;
      font-size: 20px;
      margin-right: 5px;
    }

    li {
      margin-bottom: 5px;
      display: flex;
      align-items: center;
    }

  }
}