@import "sass/_variables.scss";

.ProjectsPage {
  // projects page specific css
  .TableRow {
    .row-details {
      flex-grow: 2;

      &.row-head-mobile {
        flex-grow: 3;
      }
    }
  }
}