@import "sass/_variables.scss";
@import "~bootstrap/scss/bootstrap";

.component--modal-missing-days {
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    li {
      background: $lightOrange;
      padding: 10px;
      margin: 5px 1%;
      font-size: 13px;
      flex-grow: 1;
      width: 30%;
      text-align: center;
      border-radius: 4px;
    }
  }
}