@import "sass/_variables.scss";
@import "~bootstrap/scss/bootstrap";

.component--modal-new-project{
    .modal-dialog{
        @include media-breakpoint-up(sm) {
            max-width: 550px;
        }
    }
    .modal-content {
        background-color: $backgroundGrey2;

        .modal-header {
            border: none;
            background-color: $white;
        }

        .modal-footer {
            border: none;
            justify-content: space-between;
        }

        .new--project{    

            textarea{
                height: 100px;
                resize: none;
            }

            .start-deadline-row {
                padding-bottom: 10px;

                .text-left--ts {
                    width: 100%;
                    padding-top: 10px;

                    .react-datepicker-wrapper {
                        position: relative;
                        width: 100%;
                        margin-top: 10px;
    
                        &:after {
                            content: "\f15c";
                            font-family: LineAwesome;
                            font-size: 20px;
                            position: absolute;
                            right: 25px;
                            top: 50%;
                            transform: translateY(-50%);
                        }

                        .react-datepicker__input-container {
                            width: 100%;
                        }
                    } 
                }   

                .add-project-deadline--ts {
                    padding-right: 9px;
                }
            
                .start-date-col {
                    padding: 0px 69px 0px 10px;
                    border-radius: 4px;
                    border: 1px solid $outlineGrey;
                    width: 100%;
                    height: 52px;
                }
            }
        }

        .list-of-activities{
            list-style-type: none;
            padding-left: 0;
            margin-left: 0;
            
            li {
                font-size: 16px;
                line-height: 1;
                margin: 10px 0;

                button {
                    background: transparent;
                    border: 0;
                    color: $blue;
                }
            }
        }

        .manual-date-container{
            label {
                display: block;
            }
            input {
                border: 1px solid $outlineGrey;
                width: 100%;
            }
        }
    }
}












