@import "sass/_variables.scss";
@import "~bootstrap/scss/bootstrap";

.component--modal-new-task {
    .modal-header {
        .modal-title{
            color: $primaryDark;
            font-size: 20px;
            font-weight: normal;
        }
    }
    .modal-dialog{
        @include media-breakpoint-up(md) {
            max-width: 750px;
        }
        .new--project {
            .col-md-8 {
                i {
                    font-size: 22px;
                }        
            }

            .name-your-task--ts {
                display: flex;
                
                .name-your-task-text--ts {
                    border: none;
                    background: none;
                    margin-top: -15px;
                    padding-left: 15px;
                
                    &:focus {
                        border: none;
                        background: none;
                        box-shadow: none;
                    }                
                    &::-moz-placeholder {
                        font-size: 18px;
                        color: $primaryDark;
                      }                      
                    &::-webkit-input-placeholder {
                        font-size: 18px;
                        color: $primaryDark;
                    }                
                    &:-ms-input-placeholder {
                        font-size: 18px;
                        color: $primaryDark;
                    }                
                    &::placeholder {
                        font-size: 18px;
                        color: $primaryDark;
                    }
                }
            }

            .form-group {
                .assigned-new--task--ts {
                    margin-left: 37px;
                    font-size: 14px;
                    color: $secondaryDark2;
                }
                .button-assigned-new--task--ts {
                    border-radius: 50%;
                    padding: 6px 2px 6px 6px;
                    margin-left: 36px;
                }

                .add-popup--upload-attach {
                    display: inherit;
                    padding-bottom: 90px;

                    .upload-new-task--ts {
                        font-size: 12px;
                        color: $secondaryDark2;
                    }

                    i {
                        font-size: 17px;
                        padding-right: 5px;
                        color: $secondaryDark2;
                        margin-left: 35px;
                    }
                      
                }
                .add-popup--filepath {    
                    margin-top: -45px;
                    display: none;
                }
                .new-task--titles--ts {
                    color: $primaryDark;
                    font-size: 18px;
                    margin-left: 14px;
                }
                .new-task--comments {
                    margin-left: 35px;
                    width: calc(100% - 35px);
                
                    &:focus {
                        box-shadow: none;
                    }    
                }
                img {
                    float: left;
                    padding-left: 35px;
                    padding-top: 10px;
                }
                .btn--ts-grey {
                    float: right;
                    margin: 10px 0;
                    padding: 10px 42px;
                }                
            }

            .new-task--description .textarea--ts {
                background: none;
                border: none;
                margin-left: 23px;
            
                &::-moz-placeholder {
                    margin-left: -10px;
                  }                  
                &::-webkit-input-placeholder {
                    margin-left: -10px;
                }
            
                &:-ms-input-placeholder {
                    margin-left: -10px;
                }
            
                &::placeholder {
                    margin-left: -10px;
                }
            
                &:focus {
                    box-shadow: none;
                }
            }

            .col-md-4 {                
                .list-group {
                    i {
                    padding-right: 5px;
                    font-size: 18px;
                    }
                    .list-group-item {
                        border: none;
                        background-color: $backgroundGrey2;
                        color: $primaryDark;
                        &:hover {
                            color: $primaryBlue;
                        }
                    }
                }
                .actions--new-task--ts {
                    margin-left: 20px;
                    padding-top: 53px;
                    color: $secondaryDark2;
                }
                .due-date--new-task--ts {
                    color: $primaryBlue;
                }
                .actions-buttons--new-task--ts {
                    font-size: 12px;
                    font-weight: 500;
                }


                .duedate-new-task--ts {
                    margin-left: 20px;
                    display: flex;
                    cursor: pointer;
                
                    &:hover {
                        color: $primaryBlue;
                    }
                
                    .calendar-new-task--ts {
                        border: none;
                        margin-left: 10px;
                        background-color: $backgroundGrey2;
                        width: 100%;
                        color: $primaryBlue;
                        cursor: pointer;
                    
                        &:active {
                            background-color: $backgroundGrey2;
                            color: $primaryBlue;
                        }
                    
                        &:focus {
                            outline: none;
                        }
                    }
                }                                
            }
        }
    }
}



