@import "sass/_variables.scss";

.kd-task {
    width: 100%;
    border: 1px solid $outlineGrey;
    border-radius: 4px;
    background-color: $white;
    margin-bottom: 15px;
    overflow: hidden;

    &:last-child{
        margin-bottom: 0;
    }
    
    &--inner{
        padding: 15px;
    }

    i {
        font-size: 18px;
    }

    &--project-title {
        font-size: 16px;
        font-weight: normal;
        color: $primaryDark;
        margin-bottom: 15px;
    }

    &--target,
    &--comments,
    &--duedate {
        display: flex;
        align-items: center;

        .nr {
            padding-left: 5px;
            font-size: 13px;
            line-height: 1.5;
            color: $secondaryDark;
        }
    }

    .progress{
        height: 4px;
        border-radius: 0;
    }
}

