@import "sass/variables";
@import "sass/typography";
@import "sass/mixins";
@import "sass/forms";
@import url("https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css");
@import "~bootstrap/scss/bootstrap";

body{
  margin:0;
  padding:0;
  color: #737373;
  font-size: 14px;
  line-height: 1.6em;
  font-weight: 400;
  -webkit-overflow-scrolling:touch;
  font-family: Rubik;
  background: $backgroundGrey2;
  background-image: url('assets/img/urania.jpg');
    background-size: cover;
    background-repeat: no-repeat;

  @include media-breakpoint-down(md) {
    font-size: 12px;
    line-height: 16px;
  }

  a {
    &:hover {
      text-decoration: none;
    }
  }

  .TableRow {
    padding: 10px 0;
    
    .row-details {
      flex-grow: 2;
    }
    .row-details-3 {
      flex-grow: 3;
    }
  }
  

  .dropdown-menu {
    padding: 0;

    &.show {
      max-height: 340px;
      overflow: auto;
    }
  }
  .Toastify__toast {
    border-radius: 4px;
  }

  .danger, .warning, .success {
    .col--value {
      display: inline;
      color: $white !important;
      padding: 2px 10px !important;
      font-weight: bold;
      border-radius: 4px;
      white-space: nowrap;
    } 
  }

  .danger{
    .col--value{
      background: red !important;
    }
  }

  .warning{
    .col--value{
      background: orange !important;
    }
  }

  .success{
    .col--value{
      background: green !important;
    }
  }

  &.login {
    background-image: url('assets/img/urania.jpg');
    background-size: cover;
    background-repeat: no-repeat;
  }
}

*, *:before, *:after {
  box-sizing: border-box;
}

.centerer{
  @include centerer;
}
.page--with-header-sidebar{
  display: flex;
  min-height: 100vh;
  background: $backgroundGrey2;

  .page--header-and-content{
    width: calc(100% - #{$sidebarWidth});

    @include media-breakpoint-down(md) {
      width: 100%;
    }
  }
}

.col.col-12 {
  @include media-breakpoint-down(md) {
    flex: 0 0 100% !important;
  }
}

.dropdown-menu{
  padding: 0;
  border-radius: 4px;
  box-shadow: 0 3px 16px 0 rgba(153, 155, 168, 0.12);
  background-color: $white;
}

.TableMainContainer{
  padding: 0 28px;
}

.TableHead {
  display: flex;
  justify-content: space-between;
  padding: 0 28px;
  min-height: 80px;
  align-items: center;

  @include media-breakpoint-down(md) {
    padding: 0 14px;
  }

  a {
    cursor: pointer;
    color: $blue;
  }

  &--options {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    padding: 10px 0;
  }

  .dropdown-menu {
    font-size: 12px;
  }

  .filter {
    display: flex;
    flex-direction: column;
    margin-right: 10px;
    margin-bottom: 10px;

    @include media-breakpoint-down(md) {
      margin-right: 0;
      width: 100%;
    }

    &--label {
      display: flex;
      align-items: center;
      font-size: 12px;
      line-height: 1;
      color: $midGrey;

      i {
        margin-right: 5px;
      }
    }

    &--dd{
      i {
        margin-left: 5px;
      }

      .nav-link {
        color: $black;
        white-space: nowrap;
      }

      .dropdown {
        margin-top: 5px;
        border: 1px solid lightgrey;
      }
    }

    input[type="text"]{
      border: 1px solid lightgrey;
      height: 38px;
      line-height: 38px;
      margin-top: 5px;
      outline: none;
      max-width: 100px;
      padding: 0 10px;

      @include media-breakpoint-down(md) {
        width: 100%;
        max-width: 100%;
      }
    }

    .xl {
      input[type="text"] {
        max-width: 200px;
      }
    }
    .xxl {
      input[type="text"] {
        max-width: 300px;
      }
    }
  }

  .view-option {
    display: flex;
    align-items: center;
    margin-right: 20px;
    color: $midGrey;

    &:hover, &.active {
      color: $blue;
    }

    i {
      margin-right: 5px;
    }
  }

  .btn-new-container {
    text-transform: uppercase;
    background: none;
    color: $blue;
    border: 0;
    cursor: pointer;

    @include media-breakpoint-down(md) {
      display: none;
    }

    i {
      margin-right: 5px;
    }
  }

  .th-searchbar {
    position: relative;
    
    i {
      position: absolute;
      left: 10px;
      top: 50%;
      transform: translateY(-50%);

    }
    input{
      width: 100%;
      height: 52px;
      padding: 0 30px;
      border: 0;
    }
  }
}

.user-round-avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.no-data {
  text-align: center;
  margin: 20px auto;

  p {
    margin-bottom: 20px;
    color: $secondaryDark2;
  }
}