@import "sass/_variables.scss";
@import "~bootstrap/scss/bootstrap";

.TableRow {
  // min-height: 80px;
  border-radius: 4px;
  background-color: $white;
  align-items: center;
  margin-bottom: 5px;
  padding: 15px 0;
  transition: all .3s ease;
  box-shadow: 0px 3px 5px -2px rgba($black, 0.15);

  &:hover{
    background-color: $backgroundGrey;
  }

  @include media-breakpoint-down(md) {
    border-bottom: 5px solid darkgray;
    padding-top: 10px;
    margin-bottom: 10px;
    &:first-of-type {
      margin-top: 10px;
    }
  }

  .col {
    flex: 1 1 0;

    @include media-breakpoint-down(md) {
      margin-bottom: 10px;
    }

    &--value {
      font-size: 13px;
      line-height: 15px;
      color: $darkGrey;
      margin: 0;
      padding: 0;
    }

    &--label {
      font-size: 12px;
      line-height: 14px;
      color: $middleGrey;
      margin: 0;
      padding: 0;
    }

    &.row-head-mobile {
      @include media-breakpoint-down(md) {
        border-bottom: 2px solid $lightGreyBorder;
        padding-top: 20px;
        padding-bottom: 20px;
      }
    }
  }

  .dd-col{
    text-align: right;
  }

}