@import "sass/_variables.scss";
@import "~bootstrap/scss/bootstrap";

.LoginPage {
  position: relative;
  height: 100vh;
  width: 100%;
  overflow: hidden;

  .particles--component{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }

  .animated{
    height: 100%;;
  }

  .login-wrapper{
    width: 100%;
    // background: rgba(white, 0.9);
    // box-shadow: 3px 0px 5px 0px rgba(0,0,0,0.1);
    height: 100%;
    position: relative;
    z-index: 2;
    overflow: hidden;
    left: 0;

    .centerer{
      width: 30%;

      @include media-breakpoint-down(md) {
        width: 90%;
      }
    }

    .btn{
      width: 100%;
      margin-top: 20px;
      display: inline-block;
    }
  }

  .remember-forgot{
    width: 100%;
    margin: 30px 0;
    text-align: center;

    a {
      color: white;
    }
  }

  label {
    color: white;
  }
}